<% provide(:title, 'About') %>
<h1>About Shoot Edit Publish</h1>
<hr>
<p>Shoot Edit Publish is a project by <a href="http://simplyluke.com/" target="_blank">Luke Wright</a>.</p> 

<p>I believe that the key to becoming a better photographer is through practice, and providing a way to publicly boast about practicing and being rewarded for it is an excellent way to encourage practice.</p>

<p>Shoot Edit Publish was built using Ruby on Rails to further my knowledge of the framework. Check out the code on <a href="//github.com/simplyluke/shoot-edit-publish" target="_blank">Github</a></p>