<h1>Acknowledgements</h1>
<hr>
<ul>
  <li><a href="http://zachlatta.com/" target="_blank">Zach Latta</a> - Code review, patiently showing me rails &amp; vim magic.</li>
  <li><a href="http://ionicons.com/" target="_blank">Ionicons</a> - Icons</li>
  <li><a href="http://glyphicons.com/" target="_blank">Glyphicons</a> - Icons via Bootstrap</li>
</ul>
