<% provide(:title, @user.username) %>

<h1><%= @user.username %></h1>


<% if @user.points.any? %>
<div class="col-md-3 col-sm-5">
  <h3>Total Points: <strong><%= @user.points.sum('value') %></strong></h3>
  <ul class="point-list ">
    <%= render @points %>
  </ul>

  <%= will_paginate @points %>
</div>

<% else %>

<h3>No points!</h3>

<% end %>
