@import "bootstrap";

$mainPurple: #695F9E;
$lightPurple: #7C5899;
$lightBlue: #8ca5cb;
$coldBlue: #6A9190;
$mediumGray: #676B6C;
$darkGray: #4E5051;
$light: #E4DEDE;


html, body {
}


/* header */

.navbar {
  border: none;
  border-radius: 0;
  background: $mainPurple;
  a.navbar-brand {
    font-size: 1.8em;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: .1em;
  }
  a, a:hover, a:focus {
    color: $lightBlue;
  }
  li {  
    a:hover, a:focus {
      background-color: $lightPurple;
    }
  }
}

/* override bootstrap's stupid defaults that require me to say navbar-default to activate the mobile selector */

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $lightPurple;
  color: $lightBlue;
}

.navbar-default .navbar-nav > li > a {
  color: $lightBlue;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
  color: #9A91CF;
}



/* footer */

footer {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid $mediumGray;
  color: $mediumGray;

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* home */

.home-buttons {
  text-align: center;

  .home-icon {
    font-size: 3em;
  }
}

/* user show */

.point-list {
  list-style: none;
  text-align: center;
}

.point-listing {
  padding: 10px 0;
  border-bottom: 1px solid $mediumGray;
}

.point-activity {
  font-size: 1.3em;
}

.delete-point {
  display: block;
  font-size: 0.9em;
}

/* rewrite alerts */

.alert-notice {
  color: #468847;
  background: #dff0d8;
}

#error_explanation, .alert-alert{
  color: #b94a48;
  background: #f2dede;
}

