@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

$mainPurple: #695F9E;
$lightPurple: #7C5899;
$lightBlue: #8ca5cb;
$coldBlue: #6A9190;
$mediumGray: #676B6C;
$darkGray: #4E5051;
$light: #E4DEDE;


html, body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald';
}


/* header */

.navbar {
  border: none;
  border-radius: 0;
  background: $mainPurple;
  a.navbar-brand {
    font-size: 3.5em;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  a, a:hover, a:focus {
    color: $lightBlue;
  }
  li {  
    a:hover, a:focus {
      background-color: $lightPurple;
    }
  }
}

/* override bootstrap's stupid defaults that require me to say navbar-default to activate the mobile selector */

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $lightPurple;
  color: $lightBlue;
}

.navbar-default .navbar-nav > li > a {
  color: $lightBlue;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
  color: #9A91CF;
}



/* footer */

footer {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid $mediumGray;
  color: $mediumGray;

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* home */

.jumbotron {
  background-color: #fff;
  text-align: center;
  font-size: 2em; 
  h1 {
    font-size: 3em;
  }
  .btn {
    margin-top: 3%;
    padding:  15px 25px;
  }
}

.home-buttons {
  text-align: center;
  margin: 0.67em 0;
  .home-icon {
    font-size: 5em;
  }
  .well {
    input.btn {
      font-size: 1.5em;
      padding: 7px 20px;
      margin: 10px 0;
    }
  }
}

/* user show */

.point-list {
  list-style: none;
  text-align: center;
}

.point-listing {
  padding: 10px 0;
  border-bottom: 1px solid $mediumGray;
}

.point-activity {
  font-size: 1.3em;
}

.delete-point {
  display: block;
  font-size: 0.9em;
}

/* rewrite alerts */

.alert-notice {
  color: #468847;
  background: #dff0d8;
}

#error_explanation, .alert-alert{
  color: #b94a48;
  background: #f2dede;
}

