@import "bootstrap";

$mainPurple: #695F9E;
$lightPurple: #7C5899;
$lightBlue: #8ca5cb;
$coldBlue: #6A9190;
$mediumGray: #676B6C;
$light: #E4DEDE;


html, body {
}

/* header */

.navbar {
  border-radius: 0;
}

.navbar-purple {
  border: none;
  border-radius: none;
  background: $mainPurple;
  a {
    color: $lightBlue;
  }
  li {  
    a:hover, a:focus {
      background-color: $lightPurple;
    }
  }
}

a.navbar-brand {
  font-size: 1.8em;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: .1em;
}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid $mediumGray;
  color: $mediumGray;

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* rewrite alerts */

.alert-notice {
  color: #468847;
  background: #dff0d8;
}

#error_explanation, .alert-alert{
  color: #b94a48;
  background: #f2dede;
}
