<footer class="footer">
  <small>
    Made with <span class="icon ion-heart"></span> by <a href="http://simplyluke.com/" target="_blank">Luke Wright</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to about_path do %>
        <span class="icon ion-ios7-information-outline"></span> About
      <% end %>
      </li>
      <li> <%= link_to help_path do %>
        <span class="icon ion-help-buoy"></span> Help
      <% end %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to edit_user_registration_path do %>
          <span class="glyphicon glyphicon-pencil"></span> Edit Account
        <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</footer>
