<footer class="footer">
  <div class="col-xs-3">
    <small>
      &copy; <a href="//simplyluke.com/" target="_blank">Luke Wright</a> 2013
     </small>
   </div>
   <div class="col-xs-3">
     <div class="social-icons">
       <a href="//github.com/simplyluke/shoot-edit-publish" target="_blank"><span class="icon ion-social-github"></span></a>
       <a href="//twitter.com/shoot_edit/" target="_blank"><span class="icon ion-social-twitter"></span></a>
    </div>
  </div>


  <nav class="col-xs-6 pull-right">
    <ul>
      <li><%= link_to about_path do %>
        <span class="icon ion-ios7-information-outline"></span> About
      <% end %>
      </li>
      <li> <%= link_to help_path do %>
        <span class="icon ion-help-buoy"></span> Help
      <% end %>
      <li><%= link_to acknowledgements_path do %>
        <span class="icon ion-star"></span> Acknowledgements
      <% end %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to edit_user_registration_path do %>
          <span class="icon ion-gear-b"></span> Edit Account
        <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</footer>
